nav{
    display: flex;
    justify-content: space-around;
}
h1{
    font-size: 4rem;
}
nav img{
    width: 10%;
    height:10%
}
ul{
    font-size: 3rem;
    text-align: center;
    list-style: none;
}
ul li{
    margin: 1.5rem;
}
ul li span{
    color: green;
}  
nav section h1{
    text-transform: capitalize;
    font-family:Arial, Helvetica, sans-serif
}